{% extends "master-template.html" %}
{% block title %}{{ mode.get_full_name() }} Game {{ game_id }}{% endblock %}

{% block head %}
<link href="/game-static/css/gamelog.css" rel="stylesheet">
<meta name="description" content="Read the overview of this game of {{ mode.get_full_name() }} on {{ map }}. Or play by connecting to playkig.com.">
<meta name="og:title" content="{{ mode.get_full_name() }}: Game {{ game_id }}">
<meta name="og:url" content="https://playkig.com/game/{{ mode.get_database_id() }}/{{ game_id }}">
<meta name="og:image"
    content="https://playkig.com/game-img/maps/{{ mode.get_database_id() }}/{{ map|map_file_name }}.png">
<meta name="og:description"
    content="Read the overview of this game of {{ mode.get_full_name() }} on {{ map }}. Or play by connecting to playkig.com.">
<meta name="og:site_name" content="KIG Network">
<meta name="twitter:card" content="summary">
<meta name="og:type" content="website">
<meta name="theme-color" content="#f7b32a">
{% endblock %}

{% block content %}
{% let map = log.get_map() %}
{% let duration = log.get_game_end() - log.get_game_start() %}
<div class="row mb-2">
    <h1 class="text-center display-5"><strong>{{ mode.get_full_name() }} </strong> Game <small>{{ game_id }}</small>
    </h1>
</div>
<div class="row">
    <div class="col-3">
        <div class="card w-100 h-100 mb-3">
            <img src="/game-img/maps/{{ mode.get_database_id() }}/{{ map|map_file_name }}.png" class="card-img-top" alt="Map thumbnail">
            <div class="card-body">
                <h5 class="card-title text-center">{{ map }}</h5>
                <p class="card-text text-center"><small class="text-muted">
                        Screenshots: <a class="text-dark"
                            href="https://namemc.com/profile/755825c7f221403b9a0645d3debb9555">xqnnyz</a>, <a
                            class="text-dark"
                            href="https://namemc.com/profile/e5a4fcc78aa04c37a69d8bb1ff9d52b4">_Til</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-8 border rounded d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col">
                <h2 class="display-6 text-center"><strong>Winner:</strong>
                {% let winner = winner.as_ref() %}
                {% if winner.is_some() %}
                {% let team = winner.unwrap() %}
                    <strong style="color: {{ team.color }}">{{ team.name }}</strong>
                {% else %}
                    Tie
                {% endif %}
                </h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <span class="text-outline gold"><i class="align-middle ri-parent-fill"></i>
                    <span class="align-middle">{{ total_players }}</span>
                </span>&nbsp;
                <span class="text-outline blue"><i class="align-middle ri-calendar-event-fill"></i>
                    <span class="align-middle"></span>
                    <script
                        type="text/javascript">document.write(new Date({{ log.get_game_start() }}).toLocaleString())</script>
                    <small>(Your time)</small></span>&nbsp;
                <span class="text-outline darkgreen"><i class="align-middle ri-timer-line"></i>
                    <span class="align-middle">{{ duration|format_duration }}</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-3">
        <div class="accordion" id="teams" style="border: none;">
            {% for team in teams %}
            <div class="accordion-item border rounded mb-2">
                <h2 class="accordion-header" id="accord-header-{{ team.name }}">
                    <button class="accordion-button team-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accord-data-{{ team.name }}" aria-expanded="true"
                        aria-controls="accord-data-{{ team.name }}">
                        <span style="color: {{team.color}}"><strong>{{ team.name }}</strong>
                            ({{ team.players.len() }})</span> 
                            {% if functions.extension.supports_score() %}<span
                            class="badge rounded-pill float-end bg-{% if !log.has_winner() %}warning{% else if log.get_winner() == team.name %}success{% else %}danger{% endif %}">{{ team.score }}</span>
                            {% endif %}
                    </button>
                </h2>
                <div id="accord-data-{{ team.name }}" class="accordion-collapse collapse show"
                    aria-labelledby="accord-header-{{ team.name }}" data-bs-parent="#teams">
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for player in team.players %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <img alt="Skin"
                                            src="https://crafatar.com/avatars/{{ "{}"|format(player.uuid) }}"
                                            height="32">
                                    </div>
                                    <div class="col">
                                        <span class="align-middle">{{ player.name }}</span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-8 border rounded">
        <div class="row mt-3">
            <div class="col">
                <p class="lead">Game events</p>
            </div>
            <div class="col">
                <div class="btn-group float-end" role="group" aria-label="Display controls">
                    <input type="radio" class="btn-check" name="events-ctrl" id="allevents" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="allevents">All events</label>

                    <input type="radio" class="btn-check" name="events-ctrl" id="gameonly" autocomplete="off">
                    <label class="btn btn-outline-primary" for="gameonly">Game only</label>

                    <input type="radio" class="btn-check" name="events-ctrl" id="chatonly" autocomplete="off">
                    <label class="btn btn-outline-primary" for="chatonly">Chat only</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <ul class="list-group" id="events">
                    {% for time_evt in events %}
                    <li class="list-group-item {% if time_evt.is_chat() %}log-chat-entry{% else %}log-entry{% endif %}
                         d-flex justify-content-between align-items-center {{ functions.get_box_color(time_evt) }}">
                        <span>
                            {% match time_evt.get_raw_event() %}
                            {% when Chat with (chat) %}
                            {% let channel = time_evt.get_chat_channel(chat, self) %}
                            {% match channel %}
                            {% when ChatChannel::Static with (name) %}
                                <span class="badge rounded-pill bg-dark text-white">{{ name }}</span>
                            {% when ChatChannel::Team with (name, color) %}
                                <span class="badge rounded-pill bg-dark text-white"
                                    style="background-color: {{color}} !important;">{{ name }}</span>
                            {% when ChatChannel::None %}
                            {% endmatch %}
                                <span
                                    style="color: {{chat.get_sender()|team_color(player_teams)}};"><strong>{{ chat.get_sender() }}</strong></span>:
                            {{ chat.get_message() }}
                            {% let count = chat.get_count() %}
                            {% if count > 1 %}
                                <span class="badge rounded-pill bg-warning text-dark">x{{ count }}</span>
                            {% endif %}
                            {% when Join with (join) %}
                            {% let jt = join.get_team() %}
                            {% let team = jt|team_from_idx(teams) %}
                                <i class="align-middle ri-user-add-fill"></i>
                                <strong>{{ join.get_player() }}</strong> joined the <strong
                                    style="color: {{team.color}};">{{ team.name }}</strong>
                            team.
                            {% when Leave with (leave) %}
                                <i class="align-middle ri-user-unfollow-fill"></i>
                                <strong style="color: {{leave.get_player()|team_color(player_teams)}};">{{ leave.get_player() }}</strong> left.
                            {% else %}
                            {% let match_evt = time_evt.get_raw_event() %}
                            {% match mode %}
                                {% when GameMode::CAI %}
                                    {% include "gamelogs/cai.html" %}
                                {% when GameMode::TIMV %}
                                    {% include "gamelogs/timv.html" %}
                                {% when GameMode::BP %}
                                    {% include "gamelogs/bp.html" %}
                            {% endmatch %}
                            {% endmatch %}
                        </span>
                        <span class="badge text-dark">{{ time_evt.get_time()|format_duration_i32 }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/game-static/js/gamelog.js"></script>
{% endblock %}