{% extends "master-template.html" %}
{% block title %}Game {{ game_id }}{% endblock %}

{% block head %}
<link href="/static/css/gamelog.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% let map = log.get_cai().get_map() %}
{% let duration = log.get_game_end() - log.get_game_start() %}
<div class="row mb-2">
    <h1 class="text-center display-5"><strong>Cowboys and Indians</strong> Game <small>{{ game_id }}</small>
    </h1>
</div>
<div class="row">
    <div class="col-3">
        <div class="card w-100 h-100 mb-3">
            <img src="/img/maps/{{ map|map_file_name }}.png" class="card-img-top" alt="Map thumbnail">
            <div class="card-body">
                <h5 class="card-title text-center">{{ map }}</h5>
            </div>
        </div>
    </div>
    <div class="col-8 border rounded d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col">
                <h2 class="display-6 text-center"><strong>Winner:</strong> {% if log.has_winner() %}
                    {{ log.get_winner() }} {% else %}
                    Tie
                    {% endif %}</h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <span class="text-outline gold"><i class="align-middle ri-parent-fill"></i>
                    <span class="align-middle">{{ total_players }}</span>
                </span>&nbsp;
                <span class="text-outline blue"><i class="align-middle ri-calendar-event-fill"></i>
                    <span class="align-middle"></span>
                    <script
                        type="text/javascript">document.write(new Date({{ log.get_game_start() }}).toLocaleString())</script>
                    <small>(Your time)</small>
                </span>&nbsp;
                <span class="text-outline darkgreen"><i class="align-middle ri-timer-line"></i>
                    <span class="align-middle">{{ duration|format_duration }}
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-3">
        <div class="accordion" id="teams" style="border: none;">
            {% for team in teams %}
            <div class="accordion-item border rounded mb-2">
                <h2 class="accordion-header" id="accord-header-{{ team.name }}">
                    <button class="accordion-button team-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accord-data-{{ team.name }}" aria-expanded="true"
                        aria-controls="accord-data-{{ team.name }}">
                        {{ team.name }} ({{ team.players.len() }}) <span
                            class="badge rounded-pill float-end bg-{% if !log.has_winner() %}warning{% else if log.get_winner() == team.name %}success{% else %}danger{% endif %}">{{ team.score }}</span>
                    </button>
                </h2>
                <div id="accord-data-{{ team.name }}" class="accordion-collapse collapse show"
                    aria-labelledby="accord-header-{{ team.name }}" data-bs-parent="#teams">
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for player in team.players %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <img alt="Skin"
                                            src="https://crafatar.com/avatars/{{ "{}"|format(player.uuid) }}"
                                            height="32">
                                    </div>
                                    <div class="col">
                                        <span class="align-middle">{{ player.name }}</span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-8 border rounded">
        <div class="row mt-3">
            <div class="col">
                <p class="lead">Game events</p>
            </div>
            <div class="col">
                <div class="btn-group float-end" role="group" aria-label="Display controls">
                    <input type="radio" class="btn-check" name="events-ctrl" id="allevents" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="allevents">All events</label>

                    <input type="radio" class="btn-check" name="events-ctrl" id="gameonly" autocomplete="off">
                    <label class="btn btn-outline-primary" for="gameonly">Game only</label>

                    <input type="radio" class="btn-check" name="events-ctrl" id="chatonly" autocomplete="off">
                    <label class="btn btn-outline-primary" for="chatonly">Chat only</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group" id="events">
                    {% for time_evt in events %}
                    <li class="list-group-item {% if time_evt.is_chat() %}log-chat-entry{% else %}log-entry{% endif %}
                         d-flex justify-content-between align-items-center {{ time_evt.get_box_color() }}">
                        <span>
                            {% match time_evt.get_raw_event() %}
                            {% when Chat with (chat) %}
                            <span
                                class="badge rounded-pill bg-dark">{{ time_evt.get_chat_channel(chat.get_sender(), player_teams) }}</span>
                            <strong>{{ chat.get_sender() }}</strong>: {{ chat.get_message() }}
                            {% when Join with (join) %}
                            <i class="align-middle ri-user-add-fill"></i>
                            <strong>{{ join.get_player() }}</strong> joined the <strong>{{ join.get_team() }}</strong>
                            team.
                            {% when Leave with (leave) %}
                            <i class="align-middle ri-user-unfollow-fill"></i>
                            <strong>{{ leave.get_player() }}</strong> left.
                            {% when Catch with (catch) %}
                            <i class="align-middle ri-eye-fill"></i>
                            <strong>{{ catch.get_leader() }}</strong> was caught by
                            <strong>{{ catch.get_carrier() }}</strong>.
                            {% when Escape with (escape) %}
                            <i
                                class="align-middle ri-{% if escape.has_saver() %}shield-star-fill{% else %}eye-off-fill{% endif %}"></i>
                            <strong>{{ escape.get_leader() }}</strong> escaped.
                            <span class="badge rounded-pill bg-primary">{% if escape.has_saver() %}Saved by
                                <strong>{{ escape.get_saver() }}</strong>{% else if escape.has_chance() %}Rolled
                                {{ "{:.1}"|format(escape.get_chance()) }}%{% endif %}</span>
                            {% when Capture with (capture) %}
                            <i class="align-middle ri-star-fill"></i>
                            <strong>{{ capture.get_leader() }}</strong> was captured by
                            <strong>{{ capture.get_carrier() }}</strong>.
                            {% when Death with (death) %}
                            <i class="align-middle ri-close-line"></i>
                            {% if death.has_killer() %}
                            <strong>{{ death.get_player() }}</strong> was killed by
                            <strong>{{ death.get_killer() }}</strong>.
                            {% else %}
                            <strong>{{ death.get_player() }}</strong> died.
                            {% endif %}
                            <span class="badge rounded-pill bg-secondary">{{ time_evt.get_kill_description() }}</span>
                            {% endmatch %}
                        </span>
                        <span class="badge text-dark">{{ time_evt.get_time()|format_duration_i32 }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/gamelog.js"></script>
{% endblock %}