{% match match_evt %}
{% when HalloweenDeath with (death) %}
<i class="align-middle ri-close-line"></i>
{% if death.has_killer() %}
<strong>{{ death.player()|player_name(self) }}</strong>
was killed by
<strong>{{ death.killer()|player_name(self) }}</strong>.
{% else %}
<strong>{{ death.player()|player_name(self) }}</strong>
died.
{% endif %}
{% if death.has_last_damage_cause() %}
<span class="badge rounded-pill bg-secondary">{{ death.last_damage_cause().get_damage_desc() }}</span>
{% endif %}
{% else %}
{% endmatch %}
